html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Pallete */

/*

*/

/* Font Families */

/*
font-family: 'Source Sans Pro', sans-serif;
*/

*:focus {
	outline: 0;
}

body {
	background-color: #EFF7D0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #666;
}

/* Header */
.header-container {
	width: 1000px;
	display: block;
	margin: 0 auto;
	padding-top: 14px;
}

.home-header {
	background-color: #EE4252;
	height: 20vh;
	min-height: 200px;
	width: 100%;
}

.home-title {
	font-size: 6rem;
	font-weight: 900;
	padding-left: 200px;
	padding-top: 10px;
	color: white;
}

.home-header h2 {
	font-style: italic;
	font-size: 1.25rem;
	padding-top: 10px;
	padding-left: 210px;
	color: white;
}

.logo {
	position: absolute;
	width: 170px;
}

/* Intro Text */
.home-intro {
	width: 35%;
	margin: 0 auto;
	padding-top: 80px;
	min-width: 500px;
}

.home-intro span {
	font-weight: 900;
	font-size: 1.4rem;
	color: #EE4252;
}

.home-intro p {
	line-height: 1.4rem;
}

.og-button {
	background-color: #ffffff;
	border: none;
	box-shadow: none;
	border-radius: 8px;
	color: #EE4252;
	font-weight: 700;
	font-size: 1.4rem;
	letter-spacing: 0.25px;
	width: 180px;
	padding: 12px;
	padding-bottom: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	margin-top: 64px;
	transition: 0.25s;
}

a {
	text-decoration: none;
	color: #EE4252;
}

.og-button:hover {
	background-color: #EE4252;
	color: white;
}

.og-button:hover a {
	color: white;
}

/* Homepage Content */
#home-content {
	width: 1400px;
	margin: 0 auto;
	padding-top: 80px;
}

#home-content h3 {
	padding-top: 16px;
	letter-spacing: 0.25px;
	font-weight: 700;
	font-size: 1.3rem;
	color: #EE4252;
}

.item {
	display: inline-block;
	text-align: center;
	padding: 0 75px 0 75px;
}

.top-items {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}

.middle-items {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
	padding-top: 60px;
}

.padding-fix {
	padding-left: 160px;
}

footer {
	height: 200px;
	width: 100%;
	clear: both;
	position: relative;
}







/* Sublime Text */

h4 {
	font-weight: 900;
	font-size: 2.6rem;
	color: white;
	background-color: #EE4252;
	padding: 1.5rem;
}

.item-name {
	font-size: 6rem;
	font-weight: 900;
	padding-left: 220px;
	padding-top: 30px;
	color: white;
}

.item-header-logo {
	padding-top: 20px;
}

.item-nav {
	padding-top: 80px;
	float: left;
}

.item-list {
	padding-left: 24px;
}

.item-list li {
	font-size: 1.4rem;
	line-height: 2rem;
}

li.line-indent-1 {
	padding-left: 25px;
	line-height: 1.4rem;
	font-size: 1.1rem;
}

li.line-indent-2 {
	padding-left: 50px;
	line-height: 1.4rem;
	font-size: 1rem;
}

/* Sublime Text About */

.about {
	width: 50%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 40px;
}

.tldr-text {
	color: white;
	background-color: #EE4252;
	padding: 0 2rem 2rem 2rem;
	line-height: 1.6rem;
}

.screenshot {
	display: block;
	margin: 0 auto;
	padding-top: 24px;
}

#overview p {
	max-width: 780px;
	margin: 0 auto;
	padding-top: 24px;
	line-height: 1.6rem;
	text-align: left;
}

#package p {
	max-width: 780px;
	margin: 0 auto;
	padding-top: 24px;
	line-height: 1.6rem;
	text-align: left;
}

#shorcuts p {
	max-width: 780px;
	margin: 0 auto;
	padding-top: 24px;
	line-height: 1.6rem;
	text-align: left;
}


#package, #shortcuts, #conclusion {
	padding-bottom: 40px;
}

#back-home {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px;
	font-weight: 700;
	font-size: 1.2rem;
}

#back-home a {
	color: white;
}

.no-pad {
	padding-top: 0px;
}

/* Accordion Styling */

#horizontalTab {
	width: 75% !important;
	margin: 0 auto !important;
}

#horizontalTab a {
	color: blue;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.resp-tabs-list li {
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
	border: 1px solid #EE4252;
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    
}

h2.resp-accordion {
    border: 1px solid #EE4252;
    border-top: 0px solid #EE4252;
    margin: 0px;
    padding: 10px 15px;
    color: #EE4252;
    font-weight: 700;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #EE4252;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
    border: 1px solid #EE4252;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #EE4252 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 600px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}





/* Media Queries */

/* Header Media Queries */
@media screen and (max-width: 1200px) {
	.logo { width: 120px; padding-top: 24px;}
	.home-header h1 { font-size: 5rem; padding-left: 160px; padding-top: 24px; }
	.home-header h2 { padding-left: 170px; }
	.header-container { width: auto;padding-left: 60px; }

.screenshot {
	width: 90%;
}

}

@media screen and (max-width: 1040px) {

#horizontalTab {
	width: 95% !important;
}

.about {
	width: 95%;
}


}



@media screen and (max-width: 800px) {
	.logo { width: 100px; padding-top: 32px; }
	.home-header h1 { font-size: 4rem;padding-left: 130px;padding-top: 32px; }
	.home-header h2 { padding-left: 140px; font-size: 1.1rem; }
}

@media screen and (max-width: 680px) {
	.header-container { padding-left: 10px; }
	.home-header h1 { font-size: 3rem; padding-left: 130px; padding-top: 32px; }
	.home-header { min-height: 160px; }
}

@media screen and (max-width: 440px) {
	.logo { width: 70px; padding-top: 32px; }
	.home-header h1 { font-size: 2.6rem; padding-left: 84px; padding-top: 32px; }
	.home-header h2 { padding-left: 84px; font-size: 1.1rem; }
}

@media screen and (max-width: 350px) {
	.home-header h1 { font-size: 2.4rem; }
}


/* home-intro section Media Queries */
@media screen and (max-width: 600px) {
	.home-intro { width: 100%; padding-top: 60px; min-width: 0; }
	.home-intro p { width: 90%; padding-left: 5%; }
}

/* home-content section Media Queries */
@media screen and (max-width: 1430px) {
	#home-content {width: 100%; }
}

@media screen and (max-width: 1200px) {
	.top-items { width: 80%; margin-left: 10%; }
	.item { padding: 20px 0 0 0; width: 40%; }
	.middle-items { width: 80%; margin-left: 10%; }
	.padding-fix { padding-left: 0px;}
}

@media screen and (max-width: 900px) {
	.top-items, .middle-items { width: 95%; margin-left: 2.5%; }
	.item { padding: 20px 0 0 0; width: 45%; }
}

@media screen and (max-width: 560px) {
	.top-items, .middle-items { width: 100%; margin-left: 0%; }
	.item { padding: 20px 0 0 0; width: 48%; }
}

@media screen and (max-width: 420px) {
	.item { padding: 60px 0 0 0; width: 95%; }
	.middle-items {padding-top: 0px; }
}